
@charset  "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('imagens/fundo-madeira.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#cell{
    position: absolute;
    min-width: 280px;
    min-height: 560px;
    max-width: 300px;
    max-height: 600px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('imagens/frame-iphone.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.redes{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#facebook{
    position: absolute;
    background-image: url('imagens/logo-facebook.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    top: 20%;
    left: 85vw;
}
#facebook:hover{
    box-shadow: 1px 1px 3px;
    background-size: 110%;
    background-position: center;
}
#instagram{
    position: absolute;
    background-image: url('imagens/logo-instagram.jpg');
    background-size: cover;
    top: 30%;
    left: 85vw;
}
#instagram:hover{
    box-shadow: 1px 1px 3px;
    background-size: 110%;
    background-position: center;
}
#github{
    position: absolute;
    background-image: url('imagens/logo-github.jpg');
    background-size: cover;
    top: 40%;
    left: 85vw;
}
#github:hover{
    box-shadow: 1px 1px 3px;
    background-size: 110%;
    background-position: center;
}
#twitter{
    position: absolute;
    background-image: url('imagens/logo-twitter.jpg');
    background-size: cover;
    top: 50%;
    left: 85vw;
}
#twitter:hover{
    box-shadow: 1px 1px 3px;
    background-size: 110%;
    background-position: center;
}
#youtube{
    position: absolute;
    background-image: url('imagens/logo-youtube.jpg');
    background-size: cover;
    top: 60%;
    left: 85vw;
}
#youtube:hover{
    box-shadow: 1px 1px 3px;
    background-size: 110%;
    background-position: center;
}
#home{
    position: absolute;
    background-image: url('imagens/logo-home.jpg');
    background-size: cover;
    top: 70vh;
    left: 85vw;
}
#home:hover{
    box-shadow: 1px 1px 3px;
    background-size: 110%;
    background-position: center;
}
iframe{
    position: absolute;
    display: block;
    width: 243px;
    height: 425px;
    background-image: url('imagens/tela-home.jpg');
    background-size: cover;
    top: 12.7%;
    left: 6.5%;
    border-radius: 5px;
}

