@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#cell{
    position: absolute;
    width: 311px;
    height: 627px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}